[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-mysql = "*"
flask-wtf = "*"
passlib = "*"
flask-scss = "*"

[requires]
python_version = "3.6"
